
.transactionBox{
    width: 100%;
    /* justify-content: center; */
    
}

.Tablebody .TransactionSenderName{
   
    margin-left: 10px;
    transform: translateY(10px);

}


.Tablebody .TransactionReceiverName{
    
  margin-left: 150px;
  transform: translateY(-10px);

}
/*
.Tablebody .TransactionDate{
    margin-left: 320px;
    transform: translateY(-30px);

}
.Tablebody .TransactionCategory{
    margin-left: 500px;
    transform: translateY(-50px);
}
.Tablebody .TransactionReference{
    margin-left: 650px;
    transform: translateY(-70px);
    max-width: 100px;

}
.Tablebody .Send_Acc{
    margin-left: 800px;
    transform: translateY(-90px);
    

}
.Tablebody .Receive_Acc{
    margin-left: 960px;
    transform: translateY(-110px);
    

}
.Tablebody .TransactionAmount{
    margin-left: 1130px;
    transform: translateY(-130px);
    

}  */