.InnerWrapperTransfer{
    width: 780px;
    height: 651px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(100px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    color:#fff;
    border-radius: 10px;
    padding: 20px 10px 30px 40px;
    margin: auto auto;
    transform: translateY(-80px);
  

}
.WrapperTransfer{
    /* overflow-y: auto; */
    max-height: 800px;

}
.Avatar1{
    margin-left: 180px;
    transform: translateY(0px);
    width: 120px !important;
    height: 120px !important;
}
.Avatar1 >svg{
    color: rgb(234, 221, 221);
    size: 100px;
}
.Avatar2{
    transform: translateY(-120px);
    margin-left: 500px;
    width: 120px !important;
    height: 120px !important;

}
.Avatar2 >svg{
    color: rgb(234, 221, 221);
    size: 100px;
}
.transferIcon> svg{
    margin-left: 250px;
    transform: translateY(-230px);
    width: 300px;
    height: 100px;

}
.TransferFromText{
    margin-left: 170px;
    transform:  translateY(-210px);

}

.TransferToText{
    margin-left: 510px;
    transform:  translateY(-242px);

}
.NameText{
    margin-left: 0px;
    transform:  translateY(-220px);

}
.SendName{
    font-size: 16px;
    margin-left: 210px;
    transform:  translateY(-242px);

}
.ReceiveName{
    font-size: 16px;
    margin-left: 530px;
    transform:  translateY(-265px);

}
.AccountNumText{
    margin-left: 0px;
    transform:  translateY(-240px);


}
.SendAccNum{
    font-size: 16px;
    margin-left: 195px;
    transform: translateY(-263px);
}
.ReceiveAccNum{
    font-size: 16px;
    margin-left: 520px;
    transform: translateY(-288px);
}





.AmountText{
    margin-left: 0px;
    transform:  translateY(-280px);


}
.AmountSpace{
    margin-left: 185px;
    transform:  translateY(-315px);
    height: 35px;
    border-radius: 5px;
    border: none;
    width: 345px;
    

}
.CurrencySelector1{
    margin-left: 560px;
    transform: translateY(-350px);
    height: 38px;
    width:  100px;

}
.CurrencySelector2{
    margin-left: 560px;
    transform: translateY(-347px);
    height: 38px;
    width:  100px;

}
.TotalAmount{
    margin-left: 0px;
    transform: translateY(-375px);
    

}
.AmountValue{
    padding-left: 30px;

}
.ServiceFee{
    margin-left: 0px;
    transform: translateY(-353px);


}

.TotalAmountWithFee{
    margin-left: 0px;
    transform: translateY(-335px);


}
.AmountWithFeeValue{
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 0, 0);

}
.WithServiceFee{
    margin-left: 0px;
    transform: translateY(-335px);


}
.CategoryText{
    margin-left: 0px;
    transform:  translateY(-325px);


}
.CategorySelect{
    margin-left: 180px;
    transform:  translateY(-345px);
    height: 30px;
    width: 350px;
    border-radius: 5px;

}
.ReferenceText{
    margin-left: 0px;
    transform:  translateY(-335px);

}
.ReferenceInput{
    margin-left: 180px;
    transform:  translateY(-355px);
    height: 30px;
    width: 350px;
    border-radius: 5px;

}
.MuiBox-root .TransferButton{
    margin-left: 300px;
    transform:  translateY(-320px);
    background-color: rgb(39, 7, 104);

}

